.about.container {
  position: relative;
  padding-top: 158px;
  display: flex;
  column-gap: 87px;
}

.about-quote {
  margin: 20px 0 54px 0;
}

.about-text {
  margin-top: 35px;
}

.background-img.inAbout {
  position: absolute;
  right: 0;
  top: 30px;
}