.testimonials .title{
text-align: center;
}

.testimonials.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 180px;
  padding-top: 140px;
}

.comment-list {
  display: grid;
  grid-template-columns: repeat(4, 268px);
  column-gap: 30px;
  margin: 47px 0 20px 0;
}

.comment-list-item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(141deg, #febdab,#f3a9f8,#e0d8f0,#eaf7fe);
}

.comment-list-item-wrap:nth-child(odd){
  background: linear-gradient(316deg, #febdab,#f3a9f8,#e0d8f0,#eaf7fe);                                          
}

.comment-list-item {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  padding: 15px;
  border-radius: 20px;  
  background-color: var(--color-default);
  /* border: 1px solid transparent; */
}

.comment-about {
  margin-bottom: 10px;
  display: flex;
  column-gap: 10px;
  justify-content: start;
}

.comment-info {
  display: flex;
  column-gap: 6px;
}

.slider-box {
  width: 51.7%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
  background: linear-gradient(141deg, #febdab,#f3a9f8,#e0d8f0,#eaf7fe);           ;
  border-radius: 5px;
}

#slider {
  width: calc(100% - 2px);
  border-radius: 5px;
}

input[type=range]  {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: 5px;
  height: 8px;
  border: 1px solid transparent;
  background-color: #f5f7f6;
}
input[type=range]::-webkit-slider-thumb {
  background: var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  width:119.19px;
  height: 6px;
  -webkit-appearance: none;
  /* margin-top: -1px; */
}

.background-img.inComment {
  position: absolute;
  right: 0;
  bottom: -117px;
}