:root {
  --primary-color: #333b41;
  --accent-color: #fe9013;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffee2e;
  --frosted-glass-white: #fdfdff;
  --color-background: #febdab; 
  --color-invisible: #bdbdbd;
  --color-grey-light: #F1F3F2;
  --color-grey: #767474;
}